body {
    font-family: arial,sans-serif;
    font-size: small;
}

#header {
  float: right;
  padding-right: 30px;
}

.icon-links {
  height: 30px;
  padding-left: 0;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}

.text-links a {
  color: black;
  text-decoration: none;
}

.text-links a:hover {
  color: gray;
  text-decoration: underline;
}

.icon-links a {
  color: white;
  text-decoration: none;
}

#apps {
  opacity: 0.55;
  padding-right: 15px;
}

#apps:hover {
  opacity: 1;
}

#sign-in {
  background: #4285f4;
  border: 1px solid #4285f4;
  font-weight:bold;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
}